body {
  font-family: 'MonumentExtended-Regular';
}

/* Estilo para a tabela */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Ajuste conforme necessário */
}

/* Estilo para as células da tabela */
.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Estilo para linhas ímpares (tons de cinza alternados) */
.table tr:nth-child(odd) {
  background-color: #f2f2f2; /* ou qualquer outra cor desejada */
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.titleContainer {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 0 20%;
}

button {
  margin-right: 10px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(252, 188, 34);
  font-weight: bold;
  border-color: rgb(252, 188, 34);
}