.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yearContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}

.winner {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.secondRow {
  display: flex;
  justify-content: space-between;
  padding: 0 25%;
}